<!DOCTYPE html>
<html>
<head>
  <title>Newslab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'DD lab', root_path, class: "navbar-brand" %>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= params[:bulletin_id] == '1' ? 'active' : '' %>"><%= link_to 'News & Column', bulletin_posts_path('1') %></li>
            <li class="<%= params[:bulletin_id] == '4' ? 'active' : '' %>"><%= link_to 'Literature', bulletin_posts_path('4') %></li>
            <li class="<%= params[:bulletin_id] == '2' ? 'active' : '' %>"><%= link_to 'Web Contents', bulletin_posts_path('2') %></li>
            <li class="<%= params[:bulletin_id] == '3' ? 'active' : '' %>"><%= link_to 'Podcast', bulletin_posts_path('3') %></li>
            <li class="<%= params[:bulletin_id] == '5' ? 'active' : '' %>"><%= link_to 'Paju', bulletin_posts_path('5') %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class= 'active' : ''><%= link_to 'About', root_path %></li>
            <li class= 'active' : ''><%= link_to 'Contact', root_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

<%= yield %>

</body>
</html>
